# OpenAI

OPENAI_API_KEY=sk-proj-
EMBEDDING_MODEL=text-embedding-3-small
COMPLETION_MODEL=gpt-4o-mini


# Database
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
PORT=8002


# Conn DW SQLSERVER

DW_HOST=""
DW_PORT=""
DW_USER=""
DW_PASSWORD=""
DW_NAME=""


# Conn Telecontrol

# Qdrant

QDRANT_URL="http://localhost:6333"
QDRANT_COLLECTION = "local-products"